@model Product
@{
    ViewData["Title"] = "ProductDetail";
}

<div class="productdetails">
    <div class="productdetailsimage">

        <img src="@Model.Photo" alt="Image">
    </div>
    <div class="productdetailstext ">
        <h2>
            @Model.ProductName
        </h2>
        <h5 class="mt-4">
            本國價格 : $@Model.Description
        </h5>
        <h5 class="mt-4 ">
            各國價格換算詳細
        </h5>
        <div class="country-card-container mb-3">
            <div class="card">
                <img src="~/images/1.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">各國價格</h5>
                    <p class="card-text">$2000</p>
                    <h5 class="card-title">計算差價</h5>
                    <p class="card-text">$2000</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/1.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">各國價格</h5>
                    <p class="card-text">$2000</p>
                    <h5 class="card-title">計算差價</h5>
                    <p class="card-text">$2000</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/1.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">各國價格</h5>
                    <p class="card-text">$2000</p>
                    <h5 class="card-title">計算差價</h5>
                    <p class="card-text">$2000</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/1.png" class="card-img-top" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">各國價格</h5>
                    <p class="card-text">$2000</p>
                    <h5 class="card-title">計算差價</h5>
                    <p class="card-text">$2000</p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <h5 class="d-flex align-items-center me-3">
                選擇要換算成哪個幣值 :
            </h5>
            <div class="dropdown">
                <button class="dropbtn">選擇幣種(默認為台幣)</button>
                <div class="dropdown-content">
                    <a href="#">美金</a>
                    <a href="#">日圓</a>
                    <a href="#">港幣</a>
                    <a href="#">人民幣</a>
                </div>
            </div>
        </div>
        <a href="#" class="btn">加入購物清單</a>

    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".country-card-container").on("scroll", function () {
            var scrollLeft = $(this).scrollLeft();
            if (scrollLeft > 0) {
                $(this).addClass("scrolled");
            } else {
                $(this).removeClass("scrolled");
            }
        });

        $(".country-card-container").on("wheel", function (event) {
            event.preventDefault();
            var scrollAmount = event.originalEvent.deltaY;
            $(this).scrollLeft($(this).scrollLeft() + scrollAmount);
        });
    });
</script>

@section topCSS{
    <link href="~/css/productdetails.css" rel="stylesheet" />
}
