@model IEnumerable<Product>

@{
    ViewData["Title"] = "ProductList";
    int activePage = (int)ViewData["ActivePage"];
    int pages = (int)ViewData["Pages"];
}

<div class="productsidebar">
    <button>長褲</button>
    <button>短褲</button>
    <button>長裙</button>
    <button>T-Shirt</button>
    <button>洋裝</button>
    <button>長袖</button>
    <button>短袖</button>
    <button>外套</button>
    <!-- 其他类别按钮 -->
</div>
<div class="productcontent">
    <!---->
    <h2>商品總覽</h2>
    <div class="line"></div>
    <div class="row">
        
        @foreach (var man in Model)
        {
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
            @await Html.PartialAsync("_CardPartial", man)
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item "><a class="page-link" href="/Products/ProductList/@(activePage-1)"> < </a></li>

            @for (int i = 1; i <= pages+1; i++)
            {
                <li class="page-item @(i==activePage? "active":"")"><a class="page-link" href="/Products/ProductList/@i">@i</a></li>
            }

            <li class="page-item "><a class="page-link" href="/Products/ProductList/@(activePage + 1)"> > </a></li>

        </ul>
    </nav>


</div>



@section topCSS{
    <link href="~/css/productleft.css" rel="stylesheet" />
    <link href="~/css/Card.css" rel="stylesheet" />
    <link href="~/css/page.css" rel="stylesheet" />
}