@model Product

<div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
    <div class="card">
        <div class="headshot">
            <a class="imgbox" href="">
                <img class="card-img-top" src="~/images/@Model.Photo" alt="...">
            </a>
        </div>
        <div class="card-body">
            <a href="">
                <h5 class="card-title">@Model.ProductName</h5>
            </a>
            <p class="card-text">$@Model.Description</p>
            <a href="#" class="btn">加入購物清單</a>
        </div>
    </div>

</div>