@model cross_border.ViewModels.CurrencyViewModel



<div class="card">
    <img src="@Model.Photo" class="card-img-top" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">各國價格</h5>
        <p class="card-text">$@Model.Price</p>
    </div>
</div>
