@model Product
@{
    int maxLength = 10;  // 最大字數限制
    string displayProductName = Model.ProductName.Length > maxLength ? Model.ProductName.Substring(0, maxLength) + "..." : Model.ProductName;
}


    <div class="card">
        <div class="headshot">
        <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@Model.ProductId" class="imgbox">
                <img class="card-img-top" src="@Model.Photo" alt="...">
            </a>
        </div>
        <div class="card-body">
        <a asp-controller="Products" asp-action="ProductDetail" asp-route-id="@Model.ProductId">
            <h5 class="card-title">@displayProductName</h5>
            </a>
            <p class="card-text">$@Model.Description</p>
            <a href="#" class="btn">加入購物清單</a>
        </div>
    </div>
