@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="carouselbox d-flex justify-content-center border-dark  mb-5">
    <div id="carouselExample" class="carousel slide w-75 " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner overflow-hidden ">
            <div class="carousel-item active " data-bs-interval="10000">
                <a class="imgbox">
                    <img src="https://www.uniqlo.com/tw/public/uqtw/l1/2023/0630/L1_hero_01_pc.jpg"
                         class="" alt="...">
                </a>
            </div>
            <div class="carousel-item " data-bs-interval="10000">
                <a class="imgbox">
                    <img src="https://www.uniqlo.com/tw/public/uqtw/l1/2023/0630/L1_hero_02_pc.jpg"
                         class="" alt="...">
                </a>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
                <a class="imgbox">
                    <img src="https://www.uniqlo.com/tw/public/uqtw/l1/2023/0630/L1_hero_03_pc.jpg"
                         class="" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="areasize">
    <div class="area">
        <div class="row">
            <p class="title">熱銷商品</p>
        </div>
        <div class="row">
            
            @foreach (var man in Model)
            {
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                @await Html.PartialAsync("_CardPartial", man)
                </div>
            }
            
        </div>
    </div>
</div>
<div class="areasize">
    <div class="area">
        <div class="row">
            <p class="title">新品上架</p>
        </div>
        <div class="row">
            
            @foreach (var man in Model)
            {
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                @await Html.PartialAsync("_CardPartial", man)
                </div>
            }
            
        </div>

    </div>
</div>


@section topCSS{
    <link href="~/css/Card.css" rel="stylesheet" />
}